{% extends 'template/home_template.html' %}
{% block content %}

 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <a href="/" class="animate__animated animate__fadeInDown" ><img src="../static/img/zs.png" alt="" class="img-fluid"></a>
          <h2 class="animate__animated animate__fadeInDown"><span style="color:orange">NLP  ZS</span>tudio</h2>
          <p class="animate__animated fanimate__adeInUp">From <b>80 to 90 percent</b> of data generated and collected by organizations, <b>is unstructured</b>, and its volumes are growing rapidly. To scale on this data via machine learning's supervised route we still need a starting structured template. Even if we build models , <b>70 percent</b> of them never make to production.<br></br> ZStudio is a tool which provides functionality to annotate data with AI capabilities, train existing models or bring your model and make it to production at a speed never seen before. </p>
          <ul>
            <a href="/annotator" class="btn-get-started animate__animated animate__fadeInUp scrollto">Anotator</a>
            <a href="/models" class="btn-get-started animate__animated animate__fadeInUp scrollto">Models</a>
            <a href="/pipelines" class="btn-get-started animate__animated animate__fadeInUp scrollto">Pipelines</a>
          </ul>
        </div>
      </div>


    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>About</h2>
          <p>Features</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              ZStudio will be a one stop solution which can be hosted on any ec2 instance/cloud server r as a zs web solution. 
              Were user can login and create datasets, train and host models and deploy pipelines which they can make public or private.
              the scope of public projects is at there hosting level.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> For annotation tool, upload dataset assign users and view progress</li>
              <li><i class="ri-check-double-line"></i> get annotated data or upload data and train model and access it as api or package</li>
              <li><i class="ri-check-double-line"></i> easily host python code as well</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              <a href="/"><img src="../static/img/flow.png" alt="" class="img-fluid"></a>
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3" data-aos="zoom-in">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
              <i class="ri-gps-line"></i>
              <h4 class="d-none d-lg-block">Browse existing Datasets, models, pipelines in your organisation</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
              <i class="ri-body-scan-line"></i>
              <h4 class="d-none d-lg-block">Training existing pipeline models or bring your own model</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
              <i class="ri-sun-line"></i>
              <h4 class="d-none d-lg-block">Easily scale existing code and host it as API service</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">Annotate data</h4>
            </a>
          </li>
        </ul>


      </div>
    </section><!-- End Features Section -->

    <!-- ppt slides -->

    <!-- <section id="features" class="features">
      
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Objectives</h2>
        </div>
        <a href="/"><img src="../static/img/obj.png" alt="" class="img-fluid" data-aos="zoom-out"></a>
      </div>
    </section> -->
    <!-- End Features Section -->




{% endblock %}