{% extends 'template/inner_template.html' %}


{% block navigator %}
  <br></br>
  <a href="register/" class="btn-basic" data-aos="zoom-out" >Create Model</a>
  <a href="play_ground/" class="btn-basic" data-aos="zoom-out">Play Ground</a>

{% endblock %}

{% block content %}

<div class="container">
  <div class="section-title" data-aos="zoom-out">
    <p>Private Models</p>
  </div>
  <div class="row animate__animated " data-aos="zoom-out">
    {% for fields in model_list %}
      {% if fields.Visibility|slugify == "private" %}
      <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
            <img class="card-image" src={{fields.Model_Details.Model_Type.Model_Image}}>
            </img>
            <p class="card-head"> {{fields.Model_Name}} </p>
                       
            </div>
            <div class="flip-card-back">
              <br></br>
              <p class="card-text"> {{fields.Model_Details.Model_Type}} </p>
              <a class="btn-basic-black" href={{ fields.Redirect_Url }} >View</a>
            </div>
        </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <br></br>
  <hr></hr>
  <div class="section-title" data-aos="zoom-out">
    <p>Public Models</p>
  </div>
  <div class="row animate__animated " data-aos="zoom-out">
    
    {% for fields in model_list %}
      {% if fields.Visibility|slugify == 'public' %}
      <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
            <img class="card-image" src={{fields.Model_Details.Model_Type.Model_Image}}>
            </img>
            <br>
            <p class="card-head"> {{fields.Model_Name}} </p>
            </div>
            <div class="flip-card-back">
              <br></br>
              <p class="card-text"> {{fields.Model_Details.Model_Type}} </p>
              <a class="btn-basic-black" href={{ fields.Redirect_Url }} >View</a>
            </div>
        </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  
</div>


{% endblock %}