{% extends 'template/inner_template.html' %}


{% block navigator %}

    <div class="container d-flex align-items-center justify-content-between">

        <div class="row" style="margin: 0px;padding: 0px;">
            <div class="col"><a  href="/models/register/under_construction/" title="Delete Model"><img src="../../static/img/delete.png" style="width: 100%; margin: 1px;"></a></div>
            <div class="col"><a  href="/models/register/under_construction/" title="Start Model"><img src="../../static/img/start.png" style="width: 100%; margin: 1px;"> </a></div>
            <div class="col"><a  href="/models/register/under_construction/" title="Stop Model"><img src="../../static/img/stop.png" style="width: 100%; margin: 1px;"> </a></div>
            <div class="col"><a  href="/models/register/under_construction/" title="Download Model" ><img src="../../static/img/download.png" style="width: 100%; margin: 1px;"> </a></div>
            {% for fields,plot in model_info.items %}
            <div class="col"><a  href="javascript:window.open('http://10.226.66.220:8888/notebooks/NLP%20ZStudio/nlp_zstudio/model_store/notebooks/{{fields.Model_Name|upper}}.ipynb','_blank')" title="Launch Notebook" ><img src="../../static/img/launch.png" style="width: 100%; margin: 1px;"> </a></div>
            {% endfor %}
            <div class="col"><a  href="/models/register/under_construction/" title="Fork Model"><img src="../../static/img/fork.png" style="width: 100%; margin: 1px;"> </a></div>
        </div>
    </div>  
    
    <p style="width: 100%; border-bottom: 1px solid white; color: black;">_</p>
    <nav>
        <div class="nav nav-tabs justify-content-center animate__animated animate__fadeInDown" id="nav-tab" role="tablist">
        <a class="nav-item nav-link card-nav active" id="nav-description-tab" data-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="true"  >Description</a>
        <a class="nav-item nav-link card-nav" id="nav-usage-tab" data-toggle="tab" href="#nav-usage" role="tab" aria-controls="nav-usage" aria-selected="false">Play Ground</a>
        <a class="nav-item nav-link card-nav" id="nav-api-tab" data-toggle="tab" href="#nav-api" role="tab" aria-controls="nav-api" aria-selected="false">API Usage</a>
        <a class="nav-item nav-link card-nav" id="nav-training-tab" data-toggle="tab" href="#nav-training" role="tab" aria-controls="nav-training" aria-selected="false">Benchmarking</a>
        </div>
    </nav>

{% endblock %}

{% block content %}

<div class="container" >
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% for fields,plot in model_info.items %}

    <div class="tab-content" id="nav-tabContent">

        <div class="section-title">
            <p>{{fields.Model_Name}}</p>
        </div>

        <div class="tab-pane fade active show" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab" style="width: 100%;padding-top: 0;">
            <section data-aos="zoom-out", style="width: 100%;padding-top: 0;">
               

                <div class="container d-flex align-items-start justify-content-between" style="padding: 0px;padding-top: 0px;">
                  
                    <!-- border: 1px solid white;box-shadow: 0 0 5px grey; -->
                    <div style="background: white;width:100%;min-height:760px;margin:5px;padding:20px;text-align: justify;">
                        <p style="text-align: justify;"></p>
                        {{fields.Model_Description|safe}}
                    </div>

                    <div>

                        <div style="background: white;width:98%;margin:5px;padding:20px;border: 1px solid white;box-shadow: 0 0 5px grey;">
                            
                            <div class="section-title" >
                                <p>Labels</p>
                            </div>

                            <div id="navbar" class="navbar d-flex align-items-left justify-content-start">
                                {{fields.Model_Labels|safe}}
                            </div>
                        </div>

                        <div style="background: white;width:98%;margin:5px;padding:20px;border: 1px solid white;box-shadow: 0 0 5px grey;">
                            <div class="section-title">
                                <p>Model Details<p>
                            </div>
                    
                            <div class="row" style="width:100%">
                                    <p class="card-head" style="width:100%"> Model Type </p><a class="card-head" style="color: orange;" href={{fields.Model_Details.Model_Type.Model_Link}}>{{fields.Model_Details.Model_Type}} </a>
                                    <p class="card-head" style="width:100%"> Architecture Type </p><a class="card-head" style="color: orange;" href={{fields.Model_Details.Model_Architecture.Architecture_Link}}>{{fields.Model_Details.Model_Architecture.Architecture_Type}} </a>
                                    <p class="card-head"> Architecture Base <p class="card-head" style="color: orange;">{{fields.Model_Details.Model_Architecture.Architecture_Base}} </p>
                                    <p class="card-head"> Published Date <p class="card-head" style="color: orange;">{{fields.Published_Date}} </p>
                                    <p class="card-head"> Created By <p class="card-head" style="color: orange;">{{fields.Created_by}} </p>
                                    <p class="card-head"> Visibility <p class="card-head" style="color: orange;">{{fields.Visibility}} </p>
                            </div>  
                        </div>   
                    </div>
                </div>      
            
            </section> 
        </div>

        <div class="tab-pane fade " id="nav-usage" role="tabpanel" aria-labelledby="nav-usage-tab">
            <section data-aos="zoom-out", style="width: 100%;padding-top: 0;">
                <div style="align-items: center;text-align: justify;background: white;width:99%;margin:5px;padding:20px;border: 1px solid white;box-shadow: 0 0 5px grey;">
                    
                    <!-- <p>{{fields.Model_Details.Model_Type.Model_Description|safe}}</p> -->
                    <!-- <p>{{fields.Model_Details.Model_Architecture.Architecture_Type.Architecture_Description|safe}}</p>
                    <br> -->
                    <p>Interact with model by entering text or uploading csv file containing text as a column.</p>
                    {{fields.Sample_Input_Text|safe}}

                </div>
                      
                <div class="section-title">
                    <p>Try it Out<p>
                </div>
                    
                <div style="background: white;width:99%;margin:5px;padding:20px;border: 1px solid white;box-shadow: 0 0 5px grey;">
                  
                    <h2 class="card-head">Enter Text</h2>

                    <textarea rows="3" id="text_input" style="text-align:justify;word-wrap: break-word;height:100px;color: black;border: 1px solid orange;width: 100%;">{{fields.Example_Input}}</textarea>
                    <br>
                    <br>
                    <h2 class="card-head" style="text-align:center;align-items: center;width: 100%;color: orange;">OR</h2>
                    <br>
                    <br>
                    <h2 class="card-head">Upload a File</h2>
                    <p>*Uploaded csv file should contain "text" as a column</p>
                    <div style="display: flex;">
                        <input style="flex:1;width: 100%;margin: 0;border: 1px solid orange;border-right: none;" type="file" id="file_input" name={{model_form.Training_Data_Path.label}}></input>
                        <button style="color: orange;background: none;border: 1px solid orange;border-left: none;" id='close' onclick="clear_file()">x</button>
                    </div>
                    <br>
                    <br>
                    <div style="text-align:center;align-items: center;width:100%;"><a class="btn-basic" style="text-align:center;align-items: center;" onclick="change_dropdown()">Predict</a></div>

                    <script>
                        function clear_file() {
                            document.getElementById("file_input").value = "";
                        }

                        function change_dropdown() {
                            myForm=document.getElementById("text_input").value
                            var input_file = document.querySelector('input[type="file"]')
                            if(input_file.files.length != 0){
                                var data = new FormData()
                                data.append('file', input_file.files[0])
                                var xhttp = new XMLHttpRequest();
                                xhttp.onreadystatechange = function() {
                                    if (this.readyState == 4 && this.status == 200) {
                                        var out = JSON.parse(this.response)
                                        document.getElementById("text-context").innerHTML ='<a class="btn-basic" style="text-align:center;align-items: center;" id="download" download="output.csv" href=data:application/csv;charset=utf-8,' + encodeURI(out)+'>Download</a>'
                                        // download.click()
                                        // download.outerHTML = ""
                                        document.getElementById("Prediction_raw").innerHTML = '<pre><code>' + JSON.stringify(out, null, 2) + '</pre></code>';
                                    }
                                };
                                var url = "http://"+"{{fields.Host_Revo_IP}}"+":"+"{{fields.Host_Port}}"+"/predict_file/"
                                xhttp.open("POST", url, true);
                                xhttp.setRequestHeader("accept", "application/json");
                                xhttp.setRequestHeader("Access-Control-Allow-Origin", "*");
                                xhttp.send(data);
                                document.getElementById("pred").style.visibility = "visible";
                            }
                            else if (myForm){
                                var xhttp = new XMLHttpRequest();
                                xhttp.onreadystatechange = function() {
                                    if (this.readyState == 4 && this.status == 200) {
                                        var out = JSON.parse(this.responseText)
                                        document.getElementById("text-context").innerHTML ='<p style="font-weight:bold;">Text</p><p>'+myForm+'<p style="font-weight:bold;">Output</p><div style="padding: 2px; margin: 2px; margin-top: 2px; margin-bottom: 2px; text-align: justify;">'+out['UI'].replace("\\","")+'</div>';
                                        document.getElementById("Prediction_raw").innerHTML = '<pre><code>' + JSON.stringify(out, null, 2) + '</pre></code>';
                                    }
                                };
                                var url = "http://"+"{{fields.Host_Revo_IP}}"+":"+"{{fields.Host_Port}}"+"/predict_sentence_ui/"
                                xhttp.open("POST", url, true);
                                xhttp.setRequestHeader("accept", "application/json");
                                xhttp.setRequestHeader('Content-Type', 'application/json');
                                xhttp.setRequestHeader("Access-Control-Allow-Origin", "*");
                                xhttp.send(JSON.stringify({'sentence': myForm}));
                                document.getElementById("pred").style.visibility = "visible";
                            }
                        }
                    </script>

                </div>

                <div id="pred" style="visibility: hidden;">
                    <div class="section-title">
                        <p>Outputs</p>
                    </div>

                    <div style="background: white;width:98%;margin:5px;padding:20px;border: 1px solid white;box-shadow: 0 0 5px grey;">
                        <h2 class="card-head">Model Prediction</h2>
                        <br></br>
                        <div id="navbar" class="navbar d-flex align-items-left justify-content-start">
                            {{fields.Model_Labels|safe}}
                        </div>
                        <br></br>
                        <div id="text-context" ></div>
                    </div>

                    <div style="background: white;width:98%;margin:5px;padding:20px;border: 1px solid white;box-shadow: 0 0 5px grey;">
                        <h2 class="card-head">Raw Outputs</h2>
                        <br></br>
                        <p  id="Prediction_raw" > </p>
                    </div>
                </div>
            </section> 
        </div>

        <div class="tab-pane fade " id="nav-api" role="tabpanel" aria-labelledby="nav-api-tab">
            <iframe src= {{ "http://"|add:fields.Host_Revo_IP|add:":"|add:fields.Host_Port|add:"/docs/" }}  width="100%" height="600px"></iframe>
        </div>

        <div class="tab-pane fade " id="nav-training" role="tabpanel" aria-labelledby="nav-training-tab">
        <section>
            <div class="container">
            <div class="section-title" data-aos="zoom-out">
                <br></br>
                <h2>Evaluation Details</h2>
            </div>
              <div data-aos="fade-up">
                <div class="col-lg-6">
                    <p class="card-head"> Evaluation Accuracy : <p class="card-head" style="color: orange;">{{fields.Accuracy}} </p></p>
                </div>

               </div>
            
            {% for title,obj in plot.items %}
               <div class="section-title" data-aos="zoom-out">
                   <br></br>
                   <h2>{{title}}</h2>
               </div>
               {% autoescape off %}
               <div style="margin-top: 10px;width:50%"> {{ obj }}</div>
               {% endautoescape %}
           {% endfor %}
            </div>
        </section>
        </div>
      </div>
    
    </div

    {% endfor %}


{% endblock %}