{% extends 'template/inner_template.html' %}

{% load widget_tweaks %}


{% block content %}

{{ model_form.media }}

<div style="color: black;"  data-aos="zoom-out">
        <form method="POST">
            {% csrf_token %}

            <div class="section-title">
                <p>General Information</p>
            </div>

            <div style="background: white;width:100%;padding-right:33px;padding-top:20px;padding-bottom:20px;border: 1px solid white;box-shadow: 0 0 5px grey;">
            <div class="container d-flex align-items-center justify-content-between" style="padding: 0px;">  
                <div style="width: 100%;">
                    <ul style="list-style-type: none;">
                        <li><label class="card-head" style="width: 100%;">{{model_form.Model_Name.label}}</label></li>
                        <li>{% render_field model_form.Model_Name  style="width: 100%;border: 1px solid orange" %}</li>
                    </ul>
                </div>
                <div style="width: 100%;">  
                    <ul style="list-style-type: none;">
                    <li><label class="card-head" style="width: 100%;">{{model_form.Visibility.label}}</label></li>
                    <li>{% render_field model_form.Visibility  style="width: 100%;border: 1px solid orange" %}</li>
                    </ul>
                </div>
            </div>

            <div style="width: 100%;padding: 0;">  
                <ul style="list-style-type: none;">
                <li><label class="card-head" style="width: 100%;">{{model_form.Model_Description.label}}</label></li>
                <li>{% render_field model_form.Model_Description  style="width: 100%;border: 1px solid orange" %}</li>
                </ul>
            </div>
            </div>

            <div class="section-title">
                <p>Model Configuration</p>
            </div>

            <div style="background: orange;width:100%;padding-right:33px;padding-top:0px;padding-bottom:0px;border: 1px solid orange;box-shadow: 0 0 5px grey;">
                <div class="container d-flex align-items-center justify-content-between" style="padding: 0px;border: 1px solid orange">  
                    <div style="width: 100%;">  
                        <ul style="list-style-type: none;">
                        <li><label class="card-head" style="width: 100%;">{{model_form.Model_Type.label}}</label></li>
                        {% render_field model_form.Model_Type id="dd_model_type"  style="width: 100%;border: 1px solid orange" %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container d-flex align-items-start justify-content-between" style="padding: 0px;">
                <div class="card-head" style="font-size: 20px;width: 100%;">Architecutre</div>
                <div class="card-head" style="font-size: 20px;width:100%">Parameters</div>
            </div>


            <div class="container d-flex align-items-start justify-content-between" style="padding: 0px;padding-top: 0px;">
                <div id="mc1" style="background: white;min-height:600px;height:100%;width:50%;bottom:0;padding-right:33px;padding-top:20px;padding-bottom:20px;border: 1px solid white;box-shadow: 0 0 5px grey;">
                    <div class="container d-flex align-items-start justify-content-between" style="padding: 0px;">  
                        <div style="width: 100%;">  
                            <ul style="list-style-type: none;">
                                <li><label class="card-head" style="width: 100%;">{{model_form.Architecture_Type.label}}</label></li>
                                {% render_field model_form.Architecture_Type disabled=true style="color:grey;" %}
                                <!-- <div class="row"> -->
                                <!-- {% for radio in model_form.Architecture_Type %}
                                    <label class="col" for="{{ radio.id_for_label }}" id={{ radio.choice_label }}><span  class="radio" disabled=true>{{ radio.tag }}  {{ radio.choice_label }}</span></label>
                                    {% if forloop.counter|divisibleby:2 %}
                                </div>
                                <div class="row">
                                    {% endif %}
                                {% endfor %} -->
                            </ul>
                        </div>
                        <div style="width: 100%;">  
                            <ul style="list-style-type: none;">
                                <li><label class="card-head" style="width: 100%;">{{model_form.Architecture_Base.label}}</label></li>
                                <div class="row">
                                    {% render_field model_form.Architecture_Base style="list-style-type: none;" %}
                                    <!-- {% for radio in model_form.Architecture_Base %}
                                        <div class="col" for="{{ radio.id_for_label }}"><span class="radio"></span>  {{ radio.choice_label }}</span></div>
                                        {% if forloop.counter|divisibleby:2 %}
                                    </div>
                                    <div class="row">
                                        {% endif %}
                                    {% endfor %} -->
                            </ul>
                        </div>
                    </div> 
                </div>
                <p style="color:white;">__</p>

                <div id="mc2" style="background: white;min-height:600px;overflow:auto;width:50%;height:100%;padding-right:33px;padding-top:20px;padding-bottom:20px;border: 1px solid white;box-shadow: 0 0 5px grey;">
                    <div style="width: 100%;"> 
                        <ul style="list-style-type: none;">
                            <li><label class="card-head" style="width: 100%;">Train Batch Size</label></li>
                            <li><input style="width: 100%;margin: 0;border: 1px solid orange" type="text" for='Train Batch Size' name='Train Batch Size' value=4></input></li>
                        </ul>
                        <ul style="list-style-type: none;">
                            <li><label class="card-head" style="width: 100%;">Validation Batch Size</label></li>
                            <li><input style="width: 100%;margin: 0;border: 1px solid orange" type="text" for='Validation Batch Size' name='Validation Batch Size' value=4></input></li>
                        </ul>
                        <ul style="list-style-type: none;">
                            <li><label class="card-head" style="width: 100%;">Epochs</label></li>
                            <li><input style="width: 100%;margin: 0;border: 1px solid orange" type="text" for='Epochs' name='Epochs' value=5></input></li>
                        </ul>
                        <ul style="list-style-type: none;">
                            <li><label class="card-head" style="width: 100%;">Learning Rate</label></li>
                            <li><input style="width: 100%;margin: 0;border: 1px solid orange" type="text" for='Learning Rate' name='Learning Rate' value=0.001></input></li>
                        </ul>
                        <ul style="list-style-type: none;">
                            <li><label class="card-head" style="width: 100%;">Max Token Length</label></li>
                            <li><input style="width: 100%;margin: 0;border: 1px solid orange" type="text" for='Max Token Length' name='Max Token Length' value=500></input></li>
                        </ul>
                    </div> 
                </div>
            </div>

            <div class="section-title">
                <p>Data Configuration</p>
            </div>

            <div class="container d-flex align-items-start justify-content-between" style="padding: 0px;">
                <div class="card-head" style="font-size: 20px;width: 100%;">Upload Data</div>
                <div class="card-head" style="font-size: 20px;width:100%">S3 Credentials</div>
            </div>

            <div class="container d-flex align-items-start justify-content-between" style="padding: 0px;padding-top: 0px;">
                <div style="background: white;min-height:370px;height:100%;width:50%;bottom:0;padding-right:33px;padding-top:20px;padding-bottom:20px;border: 1px solid white;box-shadow: 0 0 5px grey;">
                    
                    <div style="width: 100%;">  
                        <ul style="list-style-type: none;">
                            <li><label class="card-head" style="width: 100%;">{{model_form.Train_Data_Path.label}}</label></li>
                            <li><input style="width: 100%;margin: 0;border: 1px solid orange" type="file" name={{model_form.Training_Data_Path.label}}></input></li>
                        </ul>
                        
                        <ul style="list-style-type: none;">
                            <li><label class="card-head" style="width: 100%;">{{model_form.Validation_Data_Path.label}}</label></li>
                            <li><input style="width: 100%;margin: 0;border: 1px solid orange" type="file" name={{model_form.Training_Data_Path.label}}></input></li>
                        </ul>

                        <ul style="list-style-type: none;">
                            <li><label class="card-head" style="width: 100%;">{{model_form.Test_Data_Path.label}}</label></li>
                            <li><input style="width: 100%;margin: 0;border: 1px solid orange" type="file" name={{model_form.Training_Data_Path.label}}></input></li>
                        </ul>

                    </div>
                    
                </div>

                <p style="color:white;">__</p>

                <div style="background: white;min-height:370px;height:100%;width:50%;bottom:0;padding-right:33px;padding-top:20px;padding-bottom:20px;border: 1px solid white;box-shadow: 0 0 5px grey;">
                      
                    <div style="width: 100%;">  
                        <ul style="list-style-type: none;">
                            <li><label class="card-head" style="width: 100%;">{{model_form.s3_Bucket_Name.label}}</label></li>
                            <li>{% render_field model_form.s3_Bucket_Name  style="width: 100%;border: 1px solid orange" %}</li>
                        </ul>
                        
                        <ul style="list-style-type: none;">
                            <li><label class="card-head" style="width: 100%;">{{model_form.s3_Access_Key_ID.label}}</label></li>
                            <li>{% render_field model_form.s3_Access_Key_ID  style="width: 100%;border: 1px solid orange" %}</li>
                        </ul>

                        <ul style="list-style-type: none;">
                            <li><label class="card-head" style="width: 100%;">{{model_form.s3_Secret_Access_Key.label}}</label></li>
                            <li>{% render_field model_form.s3_Secret_Access_Key  style="width: 100%;border: 1px solid orange" %}</li>
                        </ul>

                        <!-- <ul style="list-style-type: none;">
                            <li><label class="card-head" style="width: 100%;">{{model_form.s3_Session_Token.label}}</label></li>
                            <li>{% render_field model_form.s3_Session_Token  style="width: 100%;border: 1px solid orange" %}</li>
                        </ul> -->

                    </div>
                    
                </div>
            </div>

            <style>
                .removebull{
                    list-style-type:None;
                    padding:0;
                    margin: 0;
                }
            </style>
                
            {% for mt_db in model_all %}
            <script>
                
                document.getElementById("id_Architecture_Type").classList.add('removebull');
                document.getElementById("id_Architecture_Base").classList.add('removebull');
                var mt =document.getElementById('dd_model_type');
                mt = mt[mt["selectedIndex"]].text
                var mt_v = "{{mt_db.Model_Type}}"   
                if (mt == mt_v){
                    var mt_v = "{{mt_db.Model_Architecture.Architecture_Type}}"
                    var mt_id = "{{mt_db.Model_Architecture.Architecture_Type.id}}"-1
                    console.log(mt_id,mt,mt_v)
                    var mt_v = document.getElementById('id_Architecture_Type_'+mt_id)
                    mt_v.disabled=false;
                    console.log(document.getElementById('id_Architecture_Type_'+mt_id));
                    };
                    

            </script>
            {% endfor %}
                
            
            
            <br></br>

            {% endblock %}
            
            {% block navigator%}
                            <br></br>
                            <a class="btn-basic-black" href="/models">Cancel</a>
                            <input type="submit" class="btn-basic" value="Create"></input>
                            <a class="btn-basic-black" href="under_construction/">Bring your own Model</a>
                        
            {% endblock %}

        </form>
</div>
