{% extends 'template/inner_template.html' %}

{% load widget_tweaks %}

{% block navigator %}

    <br></br>
    <a class="btn-basic-black" href="/models">Cancel</a>

{% endblock %}

{% block content %}

<div class="container" >
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <div class="section-title">
        <p>Play Ground</p>
    </div>
        
    <section data-aos="zoom-out", style="width: 100%;padding-top: 0;">
        <div style="align-items: center;text-align: justify;background: white;width:99%;margin:5px;padding:20px;border: 1px solid white;box-shadow: 0 0 5px grey;">
            
            <!-- <p>{{fields.Model_Details.Model_Type.Model_Description|safe}}</p> -->
            <!-- <p>{{fields.Model_Details.Model_Architecture.Architecture_Type.Architecture_Description|safe}}</p>
            <br> -->
            <p>Interact with stacks of model by entering text or uploading csv file containing text as a column. Select models from dropdowns.</p>
            <br>
           <div style="width: 100%;">  
                <label class="card-head" style="width: 100%;">SELECT TASK</label>
                {% render_field tasks.task id="dd_task_list"  style="width: 100%;border: 1px solid orange;font-weight:bold;background:orange" onchange="task_change()" %}
                </ul>
            </div>
            <br>
            <label class="card-head" style="width: 100%;">SELECT MODEL</label>
            <div id='multi_drop_view'>
                <select multiple="multiple" id="mymodel" onchange="model_change()"></select>
            </div>
            <br>
            <div id="labels_display">

            </div>

            <script> 
                var model_map = "{{models_map}}"
                model_map = JSON.parse(model_map.replaceAll('&#x27;','"'))
                task = ''
                model_value = []
                var labels_map = "{{labels_map}}"
                labels_map = JSON.parse(labels_map.replaceAll('&#x27;','"')) 
            </script>

        </div>
                
        <div class="section-title">
            <p>Try it Out<p>
        </div>
            
        <div style="background: white;width:99%;margin:5px;padding:20px;border: 1px solid white;box-shadow: 0 0 5px grey;">
            
            <h2 class="card-head">Enter Text</h2>

            <textarea rows="3" id="text_input" style="text-align:justify;word-wrap: break-word;height:100px;color: black;border: 1px solid orange;width: 100%;">{{fields.Example_Input}}</textarea>
            <br>
            <br>
            <h2 class="card-head" style="text-align:center;align-items: center;width: 100%;color: orange;">OR</h2>
            <br>
            <br>
            <h2 class="card-head">Upload a File</h2>
            <p>*Uploaded csv file should contain "text" as a column</p>
            <div style="display: flex;">
                <input style="flex:1;width: 100%;margin: 0;border: 1px solid orange;border-right: none;" type="file" id="file_input" onchange="file_options()"></input>
                <button style="color: orange;background: none;border: 1px solid orange;border-left: none;" id='close' onclick="clear_file()">x</button>
            </div>
            <div id="column_options">
            </div>
            <br>
            <br>
            <div style="text-align:center;align-items: center;width:100%;"><a class="btn-basic" style="text-align:center;align-items: center;" onclick="change_dropdown()">Predict</a></div>

            <script>
                function clear_file() {
                    document.getElementById("file_input").value = "";
                    document.getElementById("column_options").innerHTML ='';
                }

                function file_options() {
                    var input_file = document.querySelector('input[type="file"]')
                    var data = new FormData()
                    data.append('csrfmiddlewaretoken',"{{ csrf_token }}")
                    if(input_file.files.length != 0){
                        data.append('file', input_file.files[0])
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function() {
                            if (this.readyState == 4 && this.status == 200) {
                                var out = JSON.parse(this.response)
                                document.getElementById("column_options").innerHTML = ''
                                document.getElementById("column_options").innerHTML += '<p class="card-head">'+'Select Column'+'</p><br>';
                                document.getElementById("column_options").innerHTML += out['col_options'];
                                document.getElementById("column_options").innerHTML += '<br><br>';
                                document.getElementById("column_options").innerHTML += '<p class="card-head">'+'Select Tokenization'+'</p><br>';
                                document.getElementById("column_options").innerHTML += out['split_opt'];
                                
                            }
                        };
                        var url = window.location.origin+"/column_options/"
                        xhttp.open("POST", url, true);
                        xhttp.setRequestHeader("accept", "application/json");
                        xhttp.setRequestHeader("Access-Control-Allow-Origin", "*");
                        xhttp.send(data);
                    }
                    
                }

                function change_dropdown() {
                    myForm=document.getElementById("text_input").value
                    var input_file = document.querySelector('input[type="file"]')
                    var data = new FormData()
                    data.append('csrfmiddlewaretoken',"{{ csrf_token }}")
                    if(input_file.files.length != 0 ){
                        console.log('file upload')
                        // if( document.querySelector('input[name="col_option"]:checked').value &  document.querySelector('input[name="split_option"]:checked').value){
                        data.append('file', input_file.files[0]);
                        data.append('col_option', document.querySelector('input[name="col_option"]:checked').value);
                        data.append('split_option', document.querySelector('input[name="split_option"]:checked').value);
                        data.append('model_value', window.model_value)
                        console.log('file call')
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function() {
                            if (this.readyState == 4 && this.status == 200) {
                                var out = JSON.parse(this.response)
                                document.getElementById("text-context").innerHTML ='<a class="btn-basic" style="text-align:center;align-items: center;" id="download" download="output.csv" href=data:application/csv;charset=utf-8,' + encodeURI(out)+'>Download</a>'
                                document.getElementById("Prediction_raw").innerHTML = '<pre><code>' + JSON.stringify(out, null, 2) + '</pre></code>';
                            }
                        };
                        var url = window.location.origin+"/model_play_ground_prediction_file/"
                        xhttp.open("POST", url, true);
                        xhttp.setRequestHeader("accept", "application/json");
                        xhttp.setRequestHeader("Access-Control-Allow-Origin", "*");
                        xhttp.send(data);
                        document.getElementById("pred").style.visibility = "visible";
                    }
                    else if (myForm){
                        data.append('sentence', myForm)
                        data.append('model_value', window.model_value)
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function() {
                            if (this.readyState == 4 && this.status == 200) {
                                var out = JSON.parse(this.responseText)
                                document.getElementById("labels_out").innerHTML =out['labels_ui']
                                document.getElementById("text-context").innerHTML ='<div style="font-weight:bold;">Text</div><div>'+out['sentence']+'</div><br><div style="font-weight:bold;">Output</div><div style="padding: 2px; margin: 2px; margin-top: 2px; margin-bottom: 2px; text-align: justify;">'+out['output_ui']+'</div>';
                                document.getElementById("Prediction_raw").innerHTML = '<pre><code>' + JSON.stringify(out, null, 2) + '</pre></code>';
                            }
                        };
                        var url = window.location.origin+"/model_play_ground_prediction/"
                        xhttp.open("POST", url, true);
                        xhttp.setRequestHeader("accept", "application/json");;
                        xhttp.setRequestHeader("Access-Control-Allow-Origin", "*");
                        xhttp.send(data);
                        document.getElementById("pred").style.visibility = "visible";
                    }
                }
            </script>

        </div>

        <div id="pred" style="visibility: hidden;">
            <div class="section-title">
                <p>Outputs</p>
            </div>

            <div style="background: white;width:98%;margin:5px;padding:20px;border: 1px solid white;box-shadow: 0 0 5px grey;">
                <h2 class="card-head">Model Prediction</h2>
                <br></br>
                <div id="labels_out" class="navbar d-flex align-items-left justify-content-start">
                </div>
                <br></br>
                <div id="text-context" ></div>
            </div>

            <div style="background: white;width:98%;margin:5px;padding:20px;border: 1px solid white;box-shadow: 0 0 5px grey;">
                <h2 class="card-head">Raw Outputs</h2>
                <br></br>
                <p  id="Prediction_raw" > </p>
            </div>
        </div>
    </section> 
</div>


{% endblock %}