{% extends 'template/inner_template.html' %}

{% load widget_tweaks %}


{% block content %}

            

        <div class="container d-flex align-items-center justify-content-between" style="padding: 0px;">  
            <div class="section-title">
                <p>Feature Under Construction</p>
            </div>
        </div>


{% endblock %}

{% block navigator%}
                            <br></br>
                            <a class="btn-basic-black" href="/models">Cancel</a>
                            <input type="submit" class="btn-basic" value="Create"></input>
                        
{% endblock %}
