body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


  .login-wrap{
    width:100%;
    margin:auto;
    max-width:525px;
    min-height:670px;
    position:relative;
    background:url('../img/zs_fullscreen.jpg') no-repeat center;
    box-shadow:0 12px 15px 0 rgb(241, 240, 238),0 17px 50px 0 rgb(241, 240, 238);
  }
  .login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:90px 70px 50px 70px;
    background:rgba(255, 255, 255, 0.852);  
  }
  .login-html .sign-in-htm,
  .login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
  }
  .login-html .sign-in,
  .login-html .sign-up,
  .login-form .group .check{
    display:none;
  }
  .login-html .tab,
  .login-form .group .label,
  .login-form .group .button{
    text-transform:uppercase;
  }
  .login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
  }
  .login-html .sign-in:checked + .tab,
  .login-html .sign-up:checked + .tab{
    color:orange;
    border-color: orange;
  }
  .login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
  }
  .login-form .group{
    margin-bottom:15px;
  }
  .login-form .group .label,
  .login-form .group .input,
  .login-form .group .button{
    width:100%;
    color:orange;
    display:block;
  }
  .login-form .group .input,
  .login-form .group .button{
    border:none;
    margin: 10px;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(7, 1, 1, 0.582);
  }
  
  .login-form .group input[data-type="password"]{
    -webkit-text-security:circle;
  }
  .login-form .group .label{
    color:rgb(14, 6, 6);
    font-size:12px;
  }

  .login-form .group .button{
    background:#ef6603;
    border: 2px solid #ef6603;
    color: rgba(255, 255, 255, 0.849);
    
  }

  .login-form .group .button:hover {
    background: #222121;
    color: #fff;
    border: 2px solid #ef6603;
    text-decoration: none;
  }

  .login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgb(31, 30, 30);
  }
  .login-form .group label .icon:before,
  .login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:rgb(10, 7, 7);
    position:absolute;
    transition:all .2s ease-in-out 0s;
  }
  .login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
  }
  .login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
  }
  .login-form .group .check:checked + label{
    color:rgb(12, 12, 12);
  }
  .login-form .group .check:checked + label .icon{
    background:#1314142f;
  }
  .login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
  }
  .login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
  }
  .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
  }
  .login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
  }
  
  .hr{
    height:2px;
    margin:20px 0 20px 0;
    background:rgb(14, 6, 6);
  }
  .foot-lnk{
    text-align:center;
  }