{% load widget_tweaks %}

<script>
    function openForm(myForm) {
  document.getElementById(myForm).style.display = "block";
  }
  
    function closeForm(myForm) {
    document.getElementById(myForm).style.display = "none";
  }
  
</script>
<div class="form-popup" id="login_register">
    <div class="login-wrap">
        <div style="margin: 0px">
        <div class="login-html">
        <button type="button" class="close" aria-label="Close" id='x' onclick="closeForm('login_register')"><span aria-hidden="true">&times;</span></button>
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" ><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in login_form  %}
                        <script>
                          openForm('login_register');
                        </script>
                        <div class="group">
                            <label for="user" class="label">{{field.label_tag}}</label>
                            {% render_field field class="input" %}
                            {% if field.errors %}
                                <script>
                                    openForm('login_register');
                                    document.getElementById("tab-1").setAttribute("checked", "true"); 
                                    document.getElementById("tab-2").setAttribute("checked", "false"); 
                                </script>
                                <label for="user" class="label" >{{ field.errors }}</label>
                            {% endif %}
                        </div>
                    {% endfor %}
    
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
    
                    <div class="group">
                        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                        <input type="submit" name="login"  class="button" value="Sign In">
                    </div>  
                </form>
            <div class="hr"></div>
            <div class="foot-lnk">
                <a href="#forgot">Forgot Password?</a>
            </div>
            </div>
            <div class="sign-up-htm">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in sigin_form  %}
                        <div class="group">
                            <label for="user" class="label">{{field.label_tag}}</label>
                            {% render_field field class="input" %}
                            {% if field.errors %}
                                <script>
                                    openForm('login_register');
                                    document.getElementById("tab-1").setAttribute("checked", "false"); 
                                    document.getElementById("tab-2").setAttribute("checked", "true"); 
                                </script>
                                <label for="user" class="label" >{{ field.errors }}</label>
                            {% endif %}
                        </div>
                    {% endfor %}
    
                    <div class="group">
                        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                        <input type="submit" name="signin"  class="button" value="Sign Up">
                    </div>  
                </form>
            <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="tab-1">Already Member?</a>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
    </div> 