{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <div class="toast" data-autohide="true" style="position: relative; top: 0; right: 0;">
                    <div class="toast-header">
                    <strong class="mr-auto text-primary">{{ message.tags }}</strong>
                    <!-- <small class="text-muted">5 mins ago</small> -->
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                    </div>
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
                <!-- <script>('.toast').toast('show');</script> -->
            {% elif message.tags == 'info'%}
                <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
            {% elif message.tags == 'warning'%}
                <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
            {% elif message.tags == 'error'%}
                <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px; background: red;">
                    <!-- Position it -->
                    <div style="position: relative; top: 0; right: 0;">
                    <!-- Then put toasts within -->
                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                        <img src="..." class="rounded mr-2" alt="...">
                        <strong class="mr-auto">{{ message.tags }}</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="toast-body">
                        {{ message }}
                        </div>
                </div>
                <!-- <script>('.toast').toast('show');</script> -->
            {% endif %}
        {% endfor %}
{% endif %}



