<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ZStudio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../static/img/zs.png" rel="icon">
  <link href="../../static/img/zs.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

  
  <!-- Template Main CSS File -->
  <link href="../../static/css/style.css" rel="stylesheet">

  

  
</head>

<body style="overflow:hidden;">

  {% include 'includes/login_register.html' %}
  
  <!-- ======= Header ======= -->
  <div class="row" style="position:fixed;bottom: 0;top:0;right: 0;left:0"> 
    <div class="col-lg-6" style="width: 20%;background: linear-gradient(0deg, #010102 50%, #262627 100%);">
      <div class="row" >
        <div class="col">
          <div class="row">
              {% if user.is_authenticated %}
              <a href="/logout" ><img src="../../static/img/lo_w.png" style="width: 25%; margin: 5px;"></a>
              {% else %}
              <a id="nav-login" style="color: white;" class="nav-link" href="/login" style="visibility: visible;" onclick="openForm('login_register');"><img src="../../static/img/icon-login.png">Login</a>
              {% endif %}
          </div>
        </div>
        <div class="col">
          <div class="row" style="margin: 0px;padding: 0px;">
                  <div class="col"><a  href="javascript: history.go(-1)" ><img src="../../static/img/back_w.png" style="width: 150%; margin: 5px;"></a></div>
                  <div class="col"><a  href="/" ><img src="../../static/img/home_w.png" style="width: 150%; margin: 5px;"> </a></div>
                  <div class="col"><a  href="/" ><img src="../../static/img/logs_w.png" style="width: 150%; margin: 5px;"> </a></div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-end align-items-center">
          <a href="/" ><img src="../../static/img/zs.png" alt="" class="img-fluid"></a>
          <h2 style="color: white;"><span style="color:orange">NLP  ZS</span>tudio</h2>
          <nav id="navbar" class="navbar">
            <ul>
              <li><a id="nav-annotator" class="nav-link" style="border: 2px solid #ef6603;" href="/annotator">Annotator</a></li>
              <li><a id="nav-models" class="nav-link" style="border: 2px solid #ef6603;" href="/models">Models</a></li>
              <li><a id="nav-pipelines" class="nav-link" style="border: 2px solid #ef6603;" href="/pipelines">Pipelines</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
          <hr style="background: white;width: 90%;"></hr>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center">
        {% block navigator %}
        
        {% endblock %} 
      </div>
      <div class="d-flex flex-column justify-content-end align-items-center" style="position:fixed;bottom:0;width:19%;">
        <hr style="background: white;width: 90%;"></hr>
        <p style="color: white;font-size: 10px;">All Rights Reserved.</p>
        <a href='zs.com' style="color: orange;font-size: 10px;">zs.com</a>
        <a href='https://www.zs.com/terms-of-use' style="color: white;font-size: 10px;">Term of use</a>
        
        <div class="social-links">
          <a href="https://twitter.com/ZSAssociates" class="twitter" style="color: white;"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/ZSinIndia/" class="facebook" style="color: white;"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/zscareers/" class="instagram" style="color: white;"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.youtube.com/ZSAssociates" class="google-plus" style="color: white;"><i class="bx bxl-skype"></i></a>
          <a href="https://in.linkedin.com/company/zs-associates" class="linkedin" style="color: white;"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="container-fluid h-100 d-flex flex-column" style="width: 80%;overflow:auto;">
      <main id="main">
          {% block content %}
        
          {% endblock %} 
      </main><!-- End #main -->
    </div>
  </div>

  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  

  <script src="../../static/vendor/aos/aos.js"></script>
  <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/vendor/php-email-form/validate.js"></script>
  <script src="../../static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/js/main.js"></script>
  <script src="../../static/js/index.js"></script>  

</body>

</html>